@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');


html,
body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

#loading {
    background-color: rgba(0, 0, 0, 0.75);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
    right: 0;
    bottom: 0;
    text-align: center;
    color: #FFF;
    padding-top: 50vh;
    font-size: 1.5em;
}

#login {
    background-color: rgba(0, 0, 0, 0.75);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 20;
    right: 0;
    bottom: 0;
    display: none;
}

#login form {
    position: absolute;
    width: 320px;
    height: 300px;
    top: calc(50vh - 160px);
    left: calc(50% - 170px);
    background-color: #DDD;
    border-radius: 10px;
    padding: 10px;
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.3);
}

#login form p {
    color: #333;
}

#login input {
    font-size: 1.2em;
    margin-bottom: 20px;
    padding: 10px;
    border-radius: 10px;
    border: 1px solid #333;
    width: calc(100% - 20px);
}

#login input[type=submit] {
    background-color: #333;
    cursor: pointer;
    color: #FFF;
    width: 50%;
    margin-left: 25%;
}

#map {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 0;
    right: 0;
    bottom: 0;
    background-color: #CCC;
}